DATABASE_URL="postgresql://postgres:password@localhost:5432/okshirts?schema=public"
AUTH_SECRET="change-this-to-a-random-secret-at-least-32-chars"
AUTH_URL="http://localhost:3000"
ADMIN_EMAIL="admin@okshirts.com"
ADMIN_PASSWORD="Admin@123456"
RESEND_API_KEY=""
EMAIL_FROM="OK Shirts <orders@okshirts.com>"
